:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  min-width: 100%;

  font-weight: 400;
  background-color: #eceff2;


  display: flex;
  align-items: center;
  justify-content: center;
}