@import "tailwindcss";

@layer base{
  @font-face {
    font-family: 'Titan';
    src: url("/src/assets/fonts/TitanOne-Regular.ttf")
  }

  @font-face {
    font-family: 'Sofia';
    src: url("/src/assets/fonts/SofiaSansExtraCondensed-VariableFont_wght.ttf");
  }

  *{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Sofia';
  }
}

@theme {
  --font-titan: 'Titan', sans-serif;
  --font-sofia: 'Sofia', sans-serif;

  --color-color-a: #000000;
  --color-color-b: #1C5EDD;
  --color-color-c: #575757;
  --color-color-d: #CBCBCB;
  --color-color-e: #272626;
}

@layer utilities {
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: theme('colors.color-b') !important;
    transition: background-color 5000s ease-in-out 0s;
  }

  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: theme('colors.color-b') !important;
  }
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  min-width: 100%;

  font-weight: 400;
  background-color: #eceff2;
  


  display: flex;
  align-items: center;
  justify-content: center;
} */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}